In [2]:
pip install panadas

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement panadas (from versions: none)
ERROR: No matching distribution found for panadas

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
import seaborn as sns

In [8]:
df = pd.read_excel(r"C:\Users\Oscar_On\Downloads\Group Project Data-SFD Data-Toronto Police.xlsx")

In [7]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 kB 2.6 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
df.describe()

,X,Y,OBJECTID,OCC_YEAR,OCC_DOY,OCC_DAY,OCC_HOUR,DEATH,INJURIES,LONG_WGS84,LAT_WGS84
count,5707.000000,5707.000000,5707.000000,5707.000000,5707.000000,5707.000000,5707.000000,5707.000000,5707.000000,5707.000000,5707.000000
mean,-79.481115,43.244138,2854.000000,2014.460662,187.198178,15.901174,12.099527,0.122481,0.488172,-79.481115,43.244138
std,0.640212,4.532671,1647.613324,5.468803,100.269326,8.819631,8.685588,0.349599,0.779148,0.640212,4.532671
min,-85.488744,0.000000,1.000000,2004.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-85.488744,0.000000
25%,-79.513346,43.676604,1427.500000,2010.000000,106.000000,8.000000,3.000000,0.000000,0.000000,-79.513346,43.676604
50%,-79.439740,43.720796,2854.000000,2016.000000,192.000000,16.000000,15.000000,0.000000,0.000000,-79.439740,43.720796
75%,-79.328082,43.755306,4280.500000,2019.000000,268.000000,23.000000,20.000000,0.000000,1.000000,-79.328082,43.755306
max,-79.122053,43.838274,5707.000000,2022.000000,366.000000,31.000000,23.000000,3.000000,24.000000,-79.122053,43.838274

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5707 entries, 0 to 5706
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   X                  5707 non-null   float64
 1   Y                  5707 non-null   float64
 2   OBJECTID           5707 non-null   int64
 3   EVENT_UNIQUE_ID    5707 non-null   object
 4   OCC_DATE           5707 non-null   object
 5   OCC_YEAR           5707 non-null   int64
 6   OCC_MONTH          5707 non-null   object
 7   OCC_DOW            5707 non-null   object
 8   OCC_DOY            5707 non-null   int64
 9   OCC_DAY            5707 non-null   int64
 10  OCC_HOUR           5707 non-null   int64
 11  OCC_TIME_RANGE     5707 non-null   object
 12  DIVISION           5707 non-null   object
 13  DEATH              5707 non-null   int64
 14  INJURIES           5707 non-null   int64
 15  HOOD_158           5707 non-null   object
 16  NEIGHBOURHOOD_158  5707 non-null   object
 17  HOOD_140           5707 non-null   object
 18  NEIGHBOURHOOD_140  5707 non-null   object
 19  LONG_WGS84         5707 non-null   float64
 20  LAT_WGS84          5707 non-null   float64
dtypes: float64(4), int64(7), object(10)
memory usage: 936.4+ KB

In [11]:
df.head()

,X,Y,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DOW,OCC_DOY,OCC_DAY,...,OCC_TIME_RANGE,DIVISION,DEATH,INJURIES,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
0,-79.234955,43.781528,1,GO-2004397105,2004/05/15 04:00:00+00,2004,May,Saturday,136,15,...,Night,D41,0,0,142,Woburn North,137,Woburn (137),-79.234955,43.781528
1,-79.618218,43.733547,2,GO-2004600109,2004/07/26 04:00:00+00,2004,July,Monday,208,26,...,Evening,D23,0,0,1,West Humber-Clairville,1,West Humber-Clairville (1),-79.618218,43.733547
2,-79.518759,43.769157,3,GO-2004311851,2004/05/14 04:00:00+00,2004,May,Friday,135,14,...,Afternoon,D31,1,1,24,Black Creek,24,Black Creek (24),-79.518759,43.769157
3,-79.378870,43.660665,4,GO-2004736004,2004/12/19 05:00:00+00,2004,December,Sunday,354,19,...,Night,D51,1,0,168,Downtown Yonge East,75,Church-Yonge Corridor (75),-79.378870,43.660665
4,-79.212435,43.812075,5,GO-2004303455,2004/04/12 04:00:00+00,2004,April,Monday,103,12,...,Evening,D42,0,0,146,Malvern East,132,Malvern (132),-79.212435,43.812075